:root{
  --clr-bg:lightblue;
  --clr-text:brown;
  --clr-btn-bg:#333;
  --clr-btn-svg:#fff;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: cursive;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--clr-bg);
}
.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list{
  
  display: flex;
  align-items: center;
}
.header__link{
  color: var(--clr-text);
}
.header__item + .header__item{
  margin-left: 20px;
}
.header__mode-btn{
  cursor: pointer;
  align-items: center;
  text-align: center;
  padding: 10px;
  display: flex;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--clr-btn-bg);
  color: var(--clr-btn-svg);
  border-radius: 50%;
}
.dark{
  --clr-bg:black;
  --clr-text:white;
  --clr-btn-bg:white;
  --clr-btn-svg:black;
}